<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <Properties>
        <Property name="LOG_HOME">${sys:user.home}/deploy/logs/SpringBoot-Example</Property>
        <Property name="LOG_NAME">example.log</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %class %M-%L - %m%n</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="file" fileName="${LOG_HOME}/${LOG_NAME}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </appenders>
    <loggers>
        <Logger name="com.lnnk.mongo" level="debug" additivity="true"/>
        <Logger name="com.lnnk.web" level="debug" additivity="true"/>
        <Logger name="springfox.documentation" level="warn" additivity="true"/>
        <Logger name="com.mongodb" level="warn" additivity="true"/>
        <Logger name="net.sf" level="warn" additivity="true"/>
        <Logger name="com.fasterxml" level="warn" additivity="true"/>
        <Logger name="com.google" level="warn" additivity="true"/>
        <Logger name="org.apache" level="warn" additivity="true"/>
        <Logger name="org.aspectj" level="warn" additivity="true"/>
        <Logger name="org.dom4j" level="debug" additivity="true"/>
        <Logger name="org.jboss" level="warn" additivity="true"/>
        <Logger name="org.slf4j" level="warn" additivity="true"/>
        <Logger name="org.springframework" level="warn" additivity="true"/>
        <Logger name="org.springframework.web" level="warn" additivity="true"/>
        <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="true"/>
        <Logger name="io.undertow" level="warn" additivity="true"/>
        <Root level="debug">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </Root>
    </loggers>
</configuration>